.banner {
    width: 100%;
    background: $main-gradient;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: $banner-padding;

    &__image {
        max-width: $banner-image-max-w;
        margin: $banner-image-margin;
    }

    &__info {
        max-width: $banner-info-max-w;
    }

    &__text {
        margin: $banner-text-margin;
        font-family: $main-font;
        font-size: $big-font-size;
        font-weight: bold;
        color: $main-font-color;
    }
}
