.banner {
    background: $main-gradient;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: $banner-padding;

    &__image {
        max-height: $banner-image-maxh;
        object-fit: contain;
        margin: $banner-image-margin;
    }

    &__info {
        max-width: $banner-info-maxw;
    }

    &__desc {
        font-size: $banner-font-size;
        font-weight: bold;
        font-family: $main-font;
        color: $main-font-color;
    }
}
