.benefits {
    background-color: $main-background-color;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 100px;

    &__content {
        margin: 25px 25px;
        width: 100%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        height: 60px;
    }

    &__name {
        margin: 20px 0;
        font-family: $main-font;
        font-size: $section-font-size;
        text-align: center;
        color: $main-font-color;
    }
}

@media (max-width: $responsive-max-w) {
    .benefits {
        padding: 0 50px;
        &__content {
            width: 100%;
        }
    }
}
