.burguer-menu {
    background-color: $main-background-color;
    width: fit-content;
    height: 100%;
    display: flex;
    transform: translate(-100%, 0);
    top: 0;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    z-index: 101;
    background-color: $main-background-color;
    transition: .3s ease-out;

    &__header {
        width: 100%;
        padding: 20px;
        display: flex;
        background-color: $main-blue;
        align-items: center;
    }

    &__close {
        max-width: none;

        &:hover {
            cursor: pointer;
        }
    }

    &__title {
        font-family: $main-font;
        color: $main-font-color;
        font-size: $section-font-size;
        margin-left: 20px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }

    &__text {
        font-family: $main-font;
        font-size: $section-font-size;
        color: $main-font-color;
        margin: 20px 0;
        text-align: left;
        padding-right: 100px;
    }

    &--move {
        transform: translate(0, 0);
        transition: .3s ease-in;
    }
}
