.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__intro {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: $section-intro-height;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__intro-image {
        max-width: $section-image-max-w;
    }

    &__interaction {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: $feature-section-max-w;
    }

    &__zoom {
        overflow: hidden;
    }

    &__image-zoom {
        object-fit: cover;
        transition: transform 0.25s ease;
        cursor: zoom-in;

        &--zoom-in {
            transform: scale(4);
            transition: transform 0.25s ease-out;
            cursor: zoom-out;
        }
    }

    &__image-icon {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    &__media {
        max-width: $feature-section-max-w;
    }

    &__video {
        width: 100%;
        height: auto;
    }

    &--black-bg {
        background-color: $main-background-color;
    }
}
