.header {
    padding: $header-padding;
    background-color: $main-blue;
    box-sizing: border-box;

    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__products-services {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__item {
        margin: $header-margin;
        font-size: $header-font-size;
        font-family: $main-font;
        color: $main-font-color;
    }

    &__log-shop-search {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__icon {
        max-width: none;
        margin: $header-margin;
        width: $header-icon-width;
    }
}
