.header {
    width: 100%;
    padding: $header-padding;
    box-sizing: border-box;
    position: fixed;
    background: $nav-gradient;
    z-index: 90;
    transform: translate(0, -100%);
    opacity: 0;
}

@media (max-width: $responsive-max-w) {
    .header {
        padding-left: 0;
        padding-right: 0;
    }
}
