.phone-views {
    background-color: $main-background-color;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;

    &__text {
        max-width: 500px;
        margin-left: auto;
        font-family: $main-font;
        font-size: $big-font-size;
        font-weight: bold;
        color: $main-font-color;
    }

    &__image {
        height: auto;
        //margin-left: auto;
    
    }
}

@media (max-width: $responsive-max-w) {
    .phone-views {
        &__text {
            font-size: $medium-font-size;
            text-align: center;
            margin: 20px 5px;
        }
    }
}