.phone-views {
    background-color: $main-background-color;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: $pv-padding;

    &__image {
        height: $section-image-height;
        margin-left: auto;
        object-fit: contain;
    }
}