.phone-views {
    background-color: $main-background-color;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;

    &__text {
        max-width: 500px;
        margin: 0 auto;
        font-family: $main-font;
        font-size: $big-font-size;
        font-weight: bold;
        color: $main-font-color;
    }

    &__image {
        height: 650px;
        margin-left: auto;
        object-fit: contain;
    }
}