.section-desc {
    font-family: $main-font;
    max-width: $feature-section-max-w;
    padding: $section-desc-padding;
    text-align: center;

    &__colum {
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;

        section {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__header {
        font-size: $big-font-size;
        font-weight: bold;
        color: $light-blue;
    }

    &__text {
        opacity: 0;
        transform: translate(0, -100%);
        font-size: $section-font-size;
        font-weight: bold;
        padding: 0 10px;
        color: $dark-gray-color;
        width: 100%;
        max-width: 600px;

        &--small {
            margin: 0;
            max-width: none;
            text-align: left;
            margin-left: 2px;
        }

        &--left {
            text-align: left;
        }

        &--last {
            margin-top: 20px;
        }
    }

    &--two-colums {
        display: flex;
        flex-direction: row;
        //flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    &__text--white {
        color: $main-font-color;
    }
}

@media (max-width: $responsive-max-w) {
    .section-desc {
        padding: 80px 0;

        &__colum {
            width: 100%;
            margin: 20px 0;
        }

        &__text {
            font-size: $section-font-size - 0.1;
        }
    }
}

@media (max-width: 970px) {
    .section-desc {
        &__colum {
            section {
                align-items: center;
            }
        }

        &--two-colums {
            flex-direction: column;
        }

        &__text {
            &--small {
                margin: 0;
                max-width: none;
                text-align: center;
            }
        }
    }
}

@media (max-width: 750px) {
    .section-desc {
        padding: 50px 0;
    }
}

@media (max-width: 403px) {
    .section-desc {
        padding: 35px 0;
        &__text {
            font-size: $section-font-size - 0.25;
        }
    }
}
