.section-nav {
    display: flex;
    flex-direction: row;
    font-family: $main-font;
    align-items: center;
    justify-content: space-between;

    &__name {
        font-size: $header-font-size;
        font-family: $main-font;
        font-weight: bold;
        font-size: $name-font-size;
        color: $main-font-color;
    }

    &__text-content {
        display: flex;
        align-items: center;
    }

    &__text {
        font-size: $header-font-size;
        font-family: $main-font;
        color: $main-font-color;
        margin: $header-margin;
    }

    &__icon-content {
        display: flex;
    }

    &__icon {
        max-width: none;
        width: $header-icon-width;
        margin: $header-margin;
    }
}
