.specs {
    background-color: $main-background-color;
    color: $main-font-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;

    &__title {
        font-size: $title-font-size;
        font-family: $main-font;
        font-weight: bold;
    }

    &__table {
        max-width: 1200px;
        margin-top: 50px;
    }

    &__row {
        font-family: $main-font;
        border-bottom: 1px solid white;
    }

    &__colum {
        padding: 20px 20px;
        line-height: 20px;
        &--title {
            width: 20%;
            font-weight: bold;
        }
    }
}

@media (max-width: $responsive-max-w) {
    .specs {
        &__table {
            margin-top: 10px;
        }

        &__button {
            width: 50px;
        }
    }
}