.specs {
    background-color: $main-background-color;
    color: $main-font-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: cover;
    padding-top: 100px;
    overflow: hidden;

    &__title {
        font-size: $title-font-size;
        font-family: $main-font;
        font-weight: bold;
    }

    &__table {
        max-width: 1200px;
        height: 300px;
        margin-top: 20px;

        &--visible {
            height: auto;
        }
    }

    &__row {
        font-family: $main-font;
        border-bottom: 1px solid white;
    }

    &__colum {
        padding: 20px 20px;
        line-height: 20px;
        &--title {
            width: 20%;
            font-weight: bold;
        }
    }

    &__view-more {
        text-align: center;
        width: 100%;
        padding: 30px 0;
        background: $view-more-gradient;
        cursor: pointer;
        font-family: $main-font;
        font-size: $section-font-size;
        font-weight: bold;
        color: $light-blue;
    }
}

@media (max-width: $responsive-max-w) {
    .specs {
        &__table {
            margin-top: 10px;
        }

        &__colum {
            padding: 20px 10px;
        }
    }
}