$main-blue: #23374d;
$light-blue: #1089ff;
$main-font-color: white;
$nav-gradient: linear-gradient(
    180deg,
    #000000 0%,
    rgba(0, 0, 0, 0.65625) 41.15%,
    rgba(0, 0, 0, 0.487832) 67.19%,
    rgba(0, 0, 0, 0) 100%
);
$main-gradient: radial-gradient(70% 45% at 50% 50%, #273788 0%, #094f94 0.01%, #0a0a0e 71.64%, #000000 87.58%);

$header-font-size: 1rem;
$name-font-size: 1.1rem;

$header-margin: 0 10px;
$header-padding: 20px 100px;
$button-padding: 10px 40px;

$icon-width: 25px;
$button-radius: 40px;

.header {
    padding: $header-padding;
    background-color: $main-blue;
    box-sizing: border-box;

    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__products-services {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__log-shop-search {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__section {
        margin: $header-margin;
        font-size: $header-font-size;
        font-family: "Open Sans";
        color: $main-font-color;
    }

    &__icon {
        max-width: none;
        width: $icon-width;
    }
}