// Color variables
$main-blue: #23374d;
$light-blue: #1089ff;

$main-font-color: white;
$alt-font-color: black;

$nav-gradient: linear-gradient(
    180deg,
    #000000 0%,
    rgba(0, 0, 0, 0.65625) 41.15%,
    rgba(0, 0, 0, 0.487832) 67.19%,
    rgba(0, 0, 0, 0) 100%
);
$main-gradient: radial-gradient(70% 45% at 50% 50%, #273788 0%, #094f94 0.01%, #0a0a0e 71.64%, #000000 87.58%);

$main-background-color: black;
$alt-background-color: white;

// Font variables
$main-font: "Open Sans";
$nav-font-size: 1em;
$name-font-size: 1.1em;
$big-font-size: 2.7rem;
$benefit-name-font-size: 1.4rem;
$button-big-font-size: 2rem;

// Margin and padding variables
$nav-margin: 0 10px;
$header-padding: 20px 100px;

$banner-padding: 70px 150px;
$banner-image-margin: 0 25px;
$banner-image-maxh: 550px;
$banner-info-maxw: 550px;

$benefits-margin: 0px 10vw;
$benefit-content-margin: 50px 50px;

$phone-views-padding: 20px 0px;
$pviews-desc-maxw: 500px;
$pviews-desc-margin-left: 100px;
$pv-image-maxh: 650px;

$button-padding: 10px 40px;
$big-button-margin: 20px;
$big-button-padding: 15px 40px;

// Width and heigh variables
$nav-icon-width: 25px;

$benefit-content-width: 33%;
$benefit-icon-height: 85px;

$button-radius: 40px;

@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "header";
@import "section-nav";
@import "banner";
@import "benefits";
@import "phoneviews";
@import "section-desc";
@import "button";

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__intro {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 650px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__intro-image {
        max-width: 403;
    }

    &__interaction {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 1030px;
    }

    &__zoom-icon {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}
