// Color variables
$main-blue: #23374d;
$light-blue: #1089ff;
$light-gray-color: #7c7c7c;
$main-font-color: white;
$dark-gray-color: rgb(77, 77, 77);
$nav-gradient: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.96) 90.1%, rgba(0, 0, 0, 0) 100%);
$view-more-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.78) 19.27%, #000000 78.65%);
$main-gradient: radial-gradient(70% 45% at 50% 50%, #273788 0%, #094f94 0.01%, #0a0a0e 71.64%, #000000 87.58%);
$main-background-color: black;
$alt-background-color: white;
$promo-background-color: rgba(35, 55, 77, 0.5);
$footer-background-color: #e8e8e8;

// Font variables
// Html font size = 16px;
$main-font: "Open Sans";
$nav-font-size: 1rem;
$title-font-size: 1.4rem;
$biggest-font-size: 3.2rem;
$big-font-size: 2.7rem;
$medium-font-size: 1.8rem;
$section-font-size: 1.4rem;
$button-big-font-size: 2rem;

// Margin and padding variables
$nav-margin: 0 10px;
$header-padding: 10px 50px;
$banner-padding: 90px 10px;
$banner-image-margin: 0 20px;
$banner-text-margin: 10px 0;
$section-desc-padding: 100px 0;
$newsletter-padding: 25px 100px;
$brand-info-padding: 20px 50px;
$contact-margin: 20px auto;
$footer-social-padding: 20px 80px;
$promo-margin: 0 8px;
$input-margin: 10px 0;
$input-padding: 20px 0;
$label-margin-bottom: 60px;
$fiel-padding: 5px 0;
$button-padding: 10px 40px;
$big-button-margin: 20px;
$big-button-padding: 15px 40px;

// Width and heigh variables
$responsive-max-w: 966px;
$nav-icon-width: 25px;
$banner-info-max-w: 550px;
$banner-image-max-w: 350px;
$section-intro-height: 450px;
$section-image-max-w: 320px;
$feature-section-max-w: 1030px;
$feature-image-height: 900px;
$contact-max-w: 500px;
$footer-icon-width: 50px;
$footer-icon-margin: 0 20px;
$newsletter-max-w: 1000px;
$promo-normal-size: 180px;
$button-radius: 50px;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "reset";
@import "header";
@import "section-nav";
@import "banner";
@import "promo";
@import "benefits";
@import "phoneviews";
@import "section-desc";
@import "feature";
@import "gallery";
@import "specs";
@import "footer";
@import "newsletter";
@import "input";
@import "button";
@import "darken";
@import "burguer-menu";
