$main-blue: #23374d;
$light-blue: #1089ff;
$main-font-color: white;
$nav-gradient: linear-gradient(
    180deg,
    #000000 0%,
    rgba(0, 0, 0, 0.65625) 41.15%,
    rgba(0, 0, 0, 0.487832) 67.19%,
    rgba(0, 0, 0, 0) 100%
);
$main-gradient: radial-gradient(70% 45% at 50% 50%, #273788 0%, #094f94 0.01%, #0a0a0e 71.64%, #000000 87.58%);

$header-font-size: 1rem;
$name-font-size: 1.1rem;

$header-margin: 0 10px;
$header-padding: 20px 100px;
$button-padding: 10px 40px;

$icon-width: 25px;
$button-radius: 40px;

@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "headerStyle";
@import "productnavStyle";

.banner {
    background: $main-gradient;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &__image {
        height: 750px;
    }

    &__desc {
        font-size: 2.7rem;
        font-weight: bold;
        font-family: "Open Sans";
        color: white;
    }

    &__button {
        background-color: $light-blue;
        color: $main-font-color;
        font-size: $header-font-size;
        border-style: none;
        border-radius: $button-radius;
        padding: $button-padding;
        font-weight: bold;
        font-family: "Open Sans";
        border-style: none;
        display: none;
    }
}

.benefits {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 10vw;
}

.benefits__content {
    margin: 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.benefits__icon {
    height: 85px;
}

.benefits__name {
    font-family: "Open Sans";
    font-size: 24px;
    text-align: center;
    color: white;
}

.views {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.views__desc {
    color: white;
    font-family: "Open Sans";
    font-weight: bold;
}
