// Color variables
$main-blue: #23374d;
$light-blue: #1089ff;
$footer-font-color: #7c7c7c;
$main-font-color: white;
$alt-font-color: black;
$nav-gradient: linear-gradient(
    180deg,
    #000000 0%,
    rgba(0, 0, 0, 0.65625) 41.15%,
    rgba(0, 0, 0, 0.487832) 67.19%,
    rgba(0, 0, 0, 0) 100%
);
$main-gradient: radial-gradient(70% 45% at 50% 50%, #273788 0%, #094f94 0.01%, #0a0a0e 71.64%, #000000 87.58%);
$main-background-color: black;
$alt-background-color: white;

// Font variables
// Html font size = 16px;
$main-font: "Open Sans";
$nav-font-size: 1rem;
$title-font-size: 1.4rem;
$big-font-size: 2.7rem;
$medium-font-size: 1.8rem;
$section-font-size: 1.4rem;
$button-big-font-size: 2rem;

// Margin and padding variables
$nav-margin: 0 10px;
$header-padding: 20px 100px;
$sub-headder-padding: 10px 100px;
$banner-padding: 70px 10px;
$banner-image-margin: 0 20px;
$banner-text-margin: 20px 0;
$section-desc-padding: 100px 0;
$newsletter-padding: 25px 100px;
$brand-info-padding: 20px 50px;
$contact-margin: 20px auto;
$footer-social-padding: 20px 80px;
$button-padding: 10px 40px;
$big-button-margin: 20px;
$big-button-padding: 15px 40px;

// Width and heigh variables
$responsive-max-w: 966px;
$nav-icon-width: 25px;
$banner-info-max-w: 550px;
$banner-image-max-w: 340px;
$section-intro-height: 650px;
$section-image-max-w: 400px;
$feature-section-max-w: 1030px;
$feature-image-height: 900px;
$contact-max-w: 500px;
$footer-icon-width: 50px;
$footer-icon-margin: 0 20px;
$newsletter-max-w: 1000px;
$button-radius: 40px;

@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "header";
@import "section-nav";
@import "banner";
@import "benefits";
@import "phoneviews";
@import "section-desc";
@import "feature";
@import "gallery";
@import "specs";
@import "footer";
@import "newsletter";
@import "button";

.darken {
    display: none;
    &--active {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }
}

.burguer-menu {
    display: none;

    &__header {
        width: 100%;
        padding: 20px;
        display: flex;
        background-color: $main-blue;
        align-items: center;
    }

    &__close {
        max-width: none;

        &:hover {
            cursor: pointer;
        }
    }

    &__title {
        font-family: $main-font;
        color: $main-font-color;
        font-size: $section-font-size;
        margin-left: 20px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }

    &__text {
        font-family: $main-font;
        font-size: $section-font-size;
        color: $main-font-color;
        margin: 20px 0;
        text-align: left;
        padding-right: 100px;
    }

    &--active {
        background-color: $main-background-color;
        width: fit-content;
        height: 100%;
        display: flex;
        top: 0;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        z-index: 101;
        background-color: $main-background-color;
        //transform: translate(100%, 0);
        transition: 10s ease;
    }
}
