.product-nav {
    width: 100%;
    padding: 20px 100px;
    position: absolute;
    background: $nav-gradient;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__name {
        font-size: $header-font-size;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: $name-font-size;
        color: $main-font-color;
    }

    &__sections {
        margin-left: auto;

        .product-nav__item {
            font-size: $header-font-size;
            font-family: "Open Sans";
            color: $main-font-color;
            margin: $header-margin;
        }

        .product-nav__button {
            background-color: $light-blue;
            color: $main-font-color;
            font-size: $header-font-size;
            border-style: none;
            border-radius: $button-radius;
            padding: $button-padding;
            font-weight: bold;
            font-family: "Open Sans";
        }
    }
}
